write(output_unit,'(A)') 'build_info = {'
write(output_unit,'(A)') '  "version"     : "TODO.. gotta got GIT in Cmake",'
write(output_unit,'(A)') '  "build_type"  : "@CMAKE_BUILD_TYPE@",'
write(output_unit,'(A)') '  "precision"   : "@OSIRIS_PRECISION@",'
write(output_unit,'(A)') '  "dimensions"  : "@Osiris_P_X_DIM@",'
write(output_unit,'(A)') '  "build_tool"  : "cmake",'
write(output_unit,'(A)') '  "system"      : "cmake",'
write(output_unit,'(A)') '  "build_flags" : {'
write(output_unit,'(A)') '    "FPP"  : "",'
write(output_unit,'(A)') '    "FPPF" : "",'
write(output_unit,'(A)') '    "F90"  : "",'
write(output_unit,'(A)') '    "F90F" : "",'
write(output_unit,'(A)') '    "CF"   : "",'
write(output_unit,'(A)') '    "cc"   : "",'
write(output_unit,'(A)') '    "LDF"  : ""'
write(output_unit,'(A)') '  }'
write(output_unit,'(A)') '}'
